click==6.2
Flask==0.10.1
Flask-Cors==2.1.2
future==0.15.2
geobuf==1.0.0
geojson==1.3.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
noise==1.2.2
numpy==1.10.4
protobuf==2.6.1
pyglet==1.2.4
pysqlite==2.8.1
scipy==0.17.0
Werkzeug==0.11.3
-e git+https://github.com/calvinmetcalf/topojson.py.git@111bfd80fd338ac5d951d8d5ada8ee1471e00a31#egg=topojson
