<div id="overlay" ng-style="{width: {{overlayWidth}}px}">
  <div id="coordsOverlay" class="overlay"></div>
  <div id="altitudeOverlay" class="overlay"></div>
  <div id="terrainOverlay" class="overlay"></div>
  <div id="colourmapOverlay" class="overlay">
    <!--<label for="colourmapSelect">Colours:</label>-->
    <select id="colourmapSelect" class="form-control" ng-model="colourmap">
      <option ng-repeat="(key, name) in properties" value="{{key}}">{{name}}</option>
    </select>
  </div>
</div>
